//Menu wrapper
.menu-list {
    width: 224px;

    //menu-item
    .menu-item {
        display: flex;
        margin-left: 0;
        background-color: var(--white);
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    font-weight: 500;
    color: var(--text-color);
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.seperate {
        border-top: 1px solid rgba(22, 23, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header
.header {
    height: 50px;
    position: relative;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    //align horizontal
    top: 50%;
    //align vetical
    left: 50%;
    //tip draw back
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 1.6rem;
}
