.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    color: var(--text-color);

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
}
