.search,
.search-result {
    width: 500px;
}

.search {
    position: relative;
    width: 500px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        //dấu nhấp nháy trong ô input
        caret-color: red;
        background-color: transparent;
        font-family: var(--font-family);
    }

    //không có chữ trong ô input thì những thuộc tính bên trong sẽ được kích hoạt ~ kichs hoạt thuộc tính cho thằng sau dấu ngã
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(161, 37, 62);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--search-top-spacer);
        //set right bằng search-btn để tính từ bên phải qua 52px
        right: var(--search-btn-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.06);
    }
}

.clear-btn,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    //căn giữa chiều cao
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    background-color: transparent;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    background-color: rgba(22, 24, 35, -0.94);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    //style cho icon (style cho cha thì con thay đổi theo)
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.3);

    &:hover {
        //đổi style con trỏ
        cursor: pointer;
        background-color: rgb(193, 58, 85, 1);
    }

    &:active {
        background-color: rgb(193, 58, 85, 0.6);
    }
}

.search-result {
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1.6rem;
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}
