.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--default-layout-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.inner {
    height: 100%;
    width: var(--default-layout-weight);
    padding: 0 var(--default-layout-horizontal-spacer);
    background-color: rgba(255, 80, 114, 1);
    display: flex;
    //căn giữa theo chiều dọc
    align-items: center;
    //căn điều các items theo chiều ngang
    justify-content: space-between;
}

.logo {
    display: flex;
}

.search,
.search-result {
    width: 500px;
}

.search {
    position: relative;
    width: 500px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        //dấu nhấp nháy trong ô input
        caret-color: red;
        background-color: transparent;
    }

    //không có chữ trong ô input thì những thuộc tính bên trong sẽ được kích hoạt ~ kichs hoạt thuộc tính cho thằng sau dấu ngã
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(161, 37, 62);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--search-top-spacer);
        //set right bằng search-btn để tính từ bên phải qua 52px
        right: var(--search-btn-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.06);
    }
}

.clear-btn,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    //căn giữa chiều cao
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    background-color: rgba(22, 24, 35, -0.94);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    //style cho icon (style cho cha thì con thay đổi theo)
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.3);

    &:hover {
        //đổi style con trỏ
        cursor: pointer;
        background-color: rgb(193, 58, 85, 1);
    }

    &:active {
        background-color: rgb(193, 58, 85, 0.6);
    }
}

.search-result {
    background-color: var(--white);
    color: var(--text-color);
    font-size: 1.6rem;
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

//Action
.action {
    display: flex;
    align-items: center;
}

.action-icon {
    display: flex;
    align-items: cen;
}

.action-btn {
    color: var(--white);
    font-size: 2rem;
    background-color: var(--primary);
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    padding: 8px;
    margin: 0 12px;
    background-color: var(--primary);
    color: var(--text-color);
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    //The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
