.wrapper {
}

.tippyWrapper {
    width: 280px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-avatar {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    object-fit: cover;
}

.following {
    padding: 4px;
}

.body {
    margin-top: 12px;
}

.statistic {
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    font-size: 1.2rem;
}
