@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: rgba(255, 80, 114, 1);
    --black: #000;
    --text-color: #333;
    --white: #fff;

    //Default layout
    --default-layout-height: 60px;
    --default-layout-weight: 1200px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-style: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    //bỏ gạch chân
    text-decoration: none;
}
