.wrapper {
    width: 224px;
    min-height: 1000px;
    background-color: var(--white);
    border-radius: 4px;
    padding: 20px 0px 26px;
    transition: background-color 200ms ease-in-out 0s;
    margin-left: -18px;
}
